<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <title>{% block title %}{% endblock %} SAM @CREADIS</title>
</head>
<body>
    <div class="container mw-100">


        <div class="menu">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="nav-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="{% url 'sam_app:index' %}">SAM</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'sam_app:modules' %}">Modules</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Logout</a></li>
                        <li class="nav-item"><a class="nav-link btn btn-sm btn-outline-secondary" href="admin/">Admin</a></li>
                    </ul>
                </div>
            </nav>
        </div>


        <div class="messages">
            {% for message in messages %}
            <p class="bg-{{ message.tags }} px-3 py-0.5">{{ message }}</p>
            {% endfor %}
        </div>



        <div id="content" name="content" class="main">
            {% block content %}
            {% endblock %}
        </div>
    </div>

<script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
</body>
</html>